header {
  position: fixed;
  height: 87vh;
  top: 0; }

body {
  padding-top: 87vh; }

h2 {
  display: flex;
  font-size: 2.3rem;
  margin: 1.5rem; }

h3 {
  display: flex;
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 1.5rem; }
  @media (min-width: 768px) {
    h3 {
      font-size: 2.2rem; } }

.placeholder_size_main {
  height: 40vh; }

.placeholder_size_sec {
  height: 20vh; }

button {
  display: flex;
  background: white;
  border: none;
  padding: 0;
  margin-right: 1rem; }

.main-content {
  padding-top: 13vh;
  background-color: white; }

.this_is_me {
  display: flex;
  flex-direction: column;
  background: #08193D; }
  @media (min-width: 768px) {
    .this_is_me {
      flex-direction: row-reverse; } }

.picture_me {
  height: 35vh;
  width: 100%;
  background: gray; }
  @media (min-width: 768px) {
    .picture_me {
      width: 50%; } }

.active_space {
  width: 100%;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 300;
  transition: height 0.3s ease-out;
  padding-bottom: 3rem; }
  @media (min-width: 768px) {
    .active_space {
      font-size: 1.8rem;
      line-height: 2.3rem;
      padding-top: 0rem;
      padding-bottom: 6rem; } }
  .active_space .hide_it {
    display: none; }
  .active_space img {
    width: inherit;
    margin: 0;
    padding: 0; }
  .active_space p {
    display: flex;
    flex-direction: column;
    color: #174DBD;
    margin: 1.5rem 1.5rem 0 1.5rem; }
  .active_space #intro_text {
    color: white; }
  .active_space button {
    background: none;
    margin: 0; }

.show_text {
  display: flex;
  margin: 0 1.5rem; }

.hide_text {
  display: none;
  margin: 0 1.5rem; }

.work_heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
  color: #174DBD;
  position: relative;
  z-index: 100;
  box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.4); }

.second_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  margin: 0;
  background: #363740;
  font-family: "Roboto Condensed", sans-serif;
  color: white; }
  .second_title h3 {
    margin: 1.5rem 1.5rem 0 1.5rem; }
    @media (min-width: 768px) {
      .second_title h3 {
        font-size: 2.2rem;
        margin: 6rem 1.5rem 0 1.5rem; } }
  .second_title span {
    font-size: 1.4rem;
    margin: 1.5rem 1.5rem 3rem 1.5rem; }
    @media (min-width: 768px) {
      .second_title span {
        font-size: 1.8rem;
        margin: 1.5rem 1.5rem 6rem 1.5rem; } }

.col1 {
  background: #174DBD; }

.col2 {
  background: #0F337D; }

.col3 {
  background: #08193D; }

.col4 {
  background: #363740; }

.col5 {
  background: #6A6D70; }

.inactive_space {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 300;
  transition: height 0.3s ease-out; }
  @media (min-width: 768px) {
    .inactive_space {
      width: 25%;
      font-size: 1.8rem; } }
  .inactive_space .hide_it {
    display: none; }
  .inactive_space img {
    width: 100%;
    height: 100%;
    opacity: .07;
    margin: 0;
    padding: 0;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.3s ease-out; }

.btnTitle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 30%;
  height: auto;
  padding: 1rem;
  margin: 0;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .btnTitle {
      width: 15%;
      line-height: 2.3rem; } }

.images_wrapper,
.inactive_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .images_wrapper a,
  .inactive_wrapper a {
    color: #174DBD; }

.skills_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif; }

.skills_interm {
  margin-bottom: 2rem; }

.skills_pro,
.skills_interm {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 2rem; }
  .skills_pro .skills_psd,
  .skills_pro .skills_ai,
  .skills_pro .skills_id,
  .skills_pro .skills_html,
  .skills_pro .skills_css,
  .skills_pro .skills_js,
  .skills_interm .skills_psd,
  .skills_interm .skills_ai,
  .skills_interm .skills_id,
  .skills_interm .skills_html,
  .skills_interm .skills_css,
  .skills_interm .skills_js {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 5.5rem;
    margin: 1.5rem;
    width: 58%;
    height: 4rem;
    color: white;
    background: linear-gradient(45deg, #0f337d 0%, #2cd4fa 100%); }
    .skills_pro .skills_psd p,
    .skills_pro .skills_ai p,
    .skills_pro .skills_id p,
    .skills_pro .skills_html p,
    .skills_pro .skills_css p,
    .skills_pro .skills_js p,
    .skills_interm .skills_psd p,
    .skills_interm .skills_ai p,
    .skills_interm .skills_id p,
    .skills_interm .skills_html p,
    .skills_interm .skills_css p,
    .skills_interm .skills_js p {
      font-size: 1.4rem;
      font-weight: 400; }
  .skills_pro .skills_ai,
  .skills_interm .skills_ai {
    background: linear-gradient(45deg, #a73f00 0%, #f37020 100%); }
  .skills_pro .skills_id,
  .skills_interm .skills_id {
    background: linear-gradient(45deg, #c80057 0%, #ff5ca3 100%); }
  .skills_pro .skills_html,
  .skills_interm .skills_html {
    width: 43%;
    background: linear-gradient(45deg, #e54d26 0%, #f29979 100%); }
  .skills_pro .skills_css,
  .skills_interm .skills_css {
    width: 48%;
    background: linear-gradient(45deg, #105ac1 0%, #7da9e8 100%); }
  .skills_pro .skills_js,
  .skills_interm .skills_js {
    width: 40%;
    background: linear-gradient(45deg, #eab42a 0%, #efd826 100%); }
  .skills_pro .skills_logos,
  .skills_interm .skills_logos {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: inherit; }
    .skills_pro .skills_logos .psd_logo,
    .skills_pro .skills_logos .ai_logo,
    .skills_pro .skills_logos .ind_logo,
    .skills_pro .skills_logos .html_logo,
    .skills_pro .skills_logos .css_logo,
    .skills_pro .skills_logos .java_logo,
    .skills_interm .skills_logos .psd_logo,
    .skills_interm .skills_logos .ai_logo,
    .skills_interm .skills_logos .ind_logo,
    .skills_interm .skills_logos .html_logo,
    .skills_interm .skills_logos .css_logo,
    .skills_interm .skills_logos .java_logo {
      height: 5rem;
      width: 5rem;
      margin: 1rem;
      padding: 0; }
    .skills_pro .skills_logos .psd_logo img,
    .skills_pro .skills_logos .ai_logo img,
    .skills_pro .skills_logos .ind_logo img,
    .skills_interm .skills_logos .psd_logo img,
    .skills_interm .skills_logos .ai_logo img,
    .skills_interm .skills_logos .ind_logo img {
      width: 5rem;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3); }
    .skills_pro .skills_logos .html_logo img,
    .skills_pro .skills_logos .css_logo img,
    .skills_pro .skills_logos .java_logo img,
    .skills_interm .skills_logos .html_logo img,
    .skills_interm .skills_logos .css_logo img,
    .skills_interm .skills_logos .java_logo img {
      display: flex;
      width: 5rem;
      height: 5rem;
      background: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3); }

.presentation {
  display: flex; }

.entry,
.entryL,
.entryP,
.entryF {
  color: #174DBD;
  display: none; }

.active {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; }

.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 300;
  transition: height 0.3s ease-out; }

.button,
.buttonL,
.buttonP,
.buttonF {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  height: auto;
  padding: 0rem;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  font-weight: 400;
  cursor: pointer; }
  .button img,
  .buttonL img,
  .buttonP img,
  .buttonF img {
    width: 100%;
    height: 100%;
    opacity: .07;
    margin: 0;
    padding: 0;
    cursor: pointer;
    filter: grayscale(100%);
    transition: all 0.3s ease-out; }

.hide {
  display: none; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: white;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif; }

.contact {
  color: white;
  width: 100%;
  font-size: 1.4rem;
  background-color: #0F337D; }
  .contact h3 {
    color: white;
    margin: 3rem 0 2rem 1.5rem; }
  .contact p {
    color: #6A6D70;
    margin: 1.5rem; }
  .contact a {
    color: white; }

.soMe {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 1.5rem 3rem; }
  .soMe img {
    width: 33%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3); }
    @media (min-width: 768px) {
      .soMe img {
        width: 15%; } }
  .soMe #behance {
    margin-right: 2rem; }

.carousel {
  width: 100vw;
  height: 87vh; }

.logo_4header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center; }

#my_Logo_Linie {
  width: 100%;
  height: 87vh;
  fill-opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, FillIn;
  animation-iteration-count: 1;
  animation-duration: 5s, 1s;
  animation-delay: 0s, 4s;
  /*animation-name: FillIn;
  animation-duration: 4s;
  animation-delay: 4s; black_gradient Grupp!ieren */ }

@keyframes FillIn {
  from {
    fill-opacity: 0; }
  to {
    fill-opacity: 1; } }
@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
@keyframes Fillbackground {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.tinted-image {
  width: auto;
  height: 100vh;
  background: linear-gradient(140deg, #0f337d, rgba(23, 77, 189, 0.4)), url("../img/paul-gilmore-325220_sm.jpg") no-repeat;
  background-position: center; }
  @media (min-width: 768px) {
    .tinted-image {
      background: linear-gradient(140deg, #0f337d, rgba(23, 77, 189, 0.4)), url("../img/paul-gilmore-325220_med.jpg") no-repeat;
      background-position: center; } }
  .tinted-image .welcome_hl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    padding-top: 5rem; }
    .tinted-image .welcome_hl .dotted-line {
      width: 4rem; }
    .tinted-image .welcome_hl h1 {
      width: 100%;
      font-size: 4rem;
      font-weight: 300;
      text-align: center;
      margin: 0.5rem 0 0 0; }
    .tinted-image .welcome_hl .arrow-down {
      width: 2rem; }
    @media (min-width: 768px) {
      .tinted-image .welcome_hl h1 {
        font-size: 8rem;
        padding: 5rem; }
      .tinted-image .welcome_hl .dotted-line {
        width: 7rem; }
      .tinted-image .welcome_hl .arrow-down {
        width: 5rem; } }
  .tinted-image .bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce; }
  .tinted-image .animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s; }
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0); }
  40% {
    -o-transform: translateY(-30px); }
  60% {
    -o-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
.main-nav,
.main-content {
  position: relative; }

.main-nav-scrolled {
  position: fixed;
  top: 0;
  width: 100vw; }

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 13vh;
  margin-bottom: -13vh;
  background-color: white;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 150;
  box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.4); }
  .main-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .main-nav li {
    margin: 0 1rem; }
  .main-nav a {
    color: #363740;
    text-decoration: none;
    font-size: 1.5rem; }

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 13, 22, 0.9);
  overflow-y: hidden;
  transition: 0.5s; }

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px; }

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s; }
  @media (min-width: 768px) {
    .overlay a {
      font-size: 4rem; } }

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1; }

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px; }

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto; }

  .overlay a {
    font-size: 20px; }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px; } }
.nav_height_top {
  margin-top: 13vh; }

.logo {
  height: 75%;
  display: flex;
  align-items: center; }
  .logo a {
    display: flex; }
  .logo img {
    height: 12.5vh;
    margin-top: .5vh;
    margin-left: 1rem; }

.logo_kopf {
  height: 75%;
  width: auto;
  margin-left: 1rem;
  margin-right: .4rem; }

.logo_text {
  height: 45%;
  width: auto;
  padding-top: .8rem; }

@media (min-width: 768px) {
  #overlay-nav {
    width: 8vh;
    height: 8vh;
    margin-right: 3rem; }
    #overlay-nav img {
      width: 90%; } }

/*# sourceMappingURL=style.css.map */
