* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2rem;
  color: #5a596d;
  background: white;
}


  h1{
    font-weight: 300;
    margin: .7rem 1rem;
    color: white;
  }

h2{
  font-weight: 300;
  text-align: center;
}

h3{
  font-weight: 300;
  text-align: center;
}

legend{
  display: none;
}

button{
  display: flex;
  border-style: none;
  background: none;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

 fieldset{
    border-style: none;
 }

article{
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

/*-------------- Header ------------------*/

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  height: auto;
  background-color: #2E7581;
  }

.rightside_header{
  display: flex;
  align-items: center;
  margin: .7rem 0;
  color: white;
}

.main_profile{
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.main_profile img{
  height: 50px;
  margin: 0 1rem;
  border-radius: 50%;
}

.bell_icon{
  display: flex;
  align-items: center;
  height: 75%;
  width: auto;
  border-right: solid 1px #2A5F67;
}

.bell_icon img{
    height: 50px;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    background-color: #2A5F67;
    min-width: 13rem;
    z-index: 1000;
    border-radius: 6px
}

.dropdown-content a {
  width: 100%;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: #C0B76B;}


.show {display:flex;}


/*---------------Main Content----------*/


/*----Navigation----------*/

.nav{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  background: #2A5F67;
}

nav li a{
  display: flex;
  align-items: center;
}

nav li img{
  height: 40px;
  margin: 1.6rem 0 1.3rem 0;
}

.active_menu{
  border-bottom: solid .3rem #C0B76B;
  border-radius: 5%;
}

/*----Dashboard and Search----------*/

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Titel_area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 2;
}

.Title_and_search{
  width: 95%;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;

}

.search fieldset {
  width: 100%;
  padding: 2px;
  border: solid 2px #2E7581;
  border-radius: 6px;
}

input[name="Search_bar"]{
  flex-grow: 1;
  border-style: none;
  height: 3.5rem;
  padding: 1rem;
}

input:focus,
fieldset:focus{
  border-bottom: dashed 3px orange;
  color: black;
  background-color: white;
}

.search img{
  height: 2rem;
  opacity: .3;
}

.search_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*----alert----------*/

.alert{
  display: flex;
  justify-content: center;
  width: 95%;
  color: white;
  background: #B42867;
  border-radius: 5px;
}

.alert_text{
  padding: 1rem;
  margin: .3rem;
}

button .close_button {
  margin: 1rem;
}


/*-------chart------*/

.traffic_chart_wrapper,
.daily_chart_wrapper,
.mobile_users_chart_wrapper
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 90%;
}

.traffic_chart_wrapper h3,
.daily_chart_wrapper h3,
.mobile_users_chart_wrapper h3{
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}

.buttons_traffic{
  display: flex;
}

.traffic_chart_wrapper .menu_btn{
  margin: 1rem .3rem;
  transition: .3s;
}

.traffic_chart_wrapper .menu_btn:hover{
    border-bottom: solid .3rem #2E7581;
    border-radius: 5%;
}

.traffic_chart_wrapper .menu_btn:focus{
  border-bottom: solid .3rem #C0B76B;
  border-radius: 5%;
}

.mobile_users_chart{
  width: 100%;
}

.mobile_users_chart_legent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.phones, .tablets, .desktop {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

.phones_square, .tablets_square, .desktop_square {
  width: 3rem;
  height: 3rem;
  border-radius: 6px;
  background-color: #2A5F67;
}

.tablets_square{
  background-color: #B42867;
}

.desktop_square{
  background-color:#C0B76B;
}

/*-------Social Stats------*/

.SoMe_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 1rem 2.5%;
  padding: 0 1rem;
  background-color: #ddd;
  border-radius: 5px;
}

.SoMe_Icon_wrapper{
  display: flex;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #2E7581;
}

.SoMe_Icon_wrapper img{
  height: 1.7rem;
  align-self: center;
}

.SoMe_Text{
  flex-grow: 1;
}

.SoMe_wrapper h3{
  font-weight: bold;
  margin: 1rem 20% 0 20%;
  color: #2E7581;
}

.SoMe_wrapper p{
  font-weight: 300;
  font-size: 3.5rem;
  text-align: center;
  margin: 0 0 0 10%;
}

.social_stats_title{
  margin-top: 3rem;
}

/*-------New Members------*/

.new_members h3{
  margin-top: 3rem;
}

.member{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 1rem 2.5%;
  border-bottom: solid 1px #2A5F67;
}

.member img{
    height: 5rem;
    width: 5rem;
    margin: 0 30%;
    border-radius: 50%;
}

.member p{
  text-align: center;
  margin: 1rem 20%;
}




/*-------Recent activity------*/


.recent_activity h3{
  margin-top: 3rem;
}

.activity_member{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  margin: 1rem 2.5%;
  border-bottom: solid 1px #2A5F67;
}

.activity_member img{
    height: 3.5rem;
    width: 3.5rem;
    margin: 0 40%;
    border-radius: 50%;
}

.activity_member p{
  font-size: .9rem;
  text-align: left;
  margin: 1rem 0;
}

.arrow_left{
  display: flex;
  align-items: center;
}

.arrow_left img{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0 30%;
}

/*----Search/Message users----------*/

.message_user{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
margin: 1rem 2.5%;
}

.message_user h3{
  margin-top: 3rem;
}

.message_user form{
 width: 95%;
 border-bottom: solid 1px #2A5F67;
}

.message_user fieldset{
  margin: 0;
  padding: 0;
}

.message_user_form input[name="search_user"]{
  width: 100%;
  height: 5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: solid 2px #2A5F67;
  border-radius: 6px;
}

.message_user_form textarea{
  width: 100%;
  height: 11rem;
  padding: 1rem;
  margin-bottom: 2rem;
  border: solid 2px #2A5F67;
  border-radius: 6px;
}

.message_user_form .alert{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40%;
  height: auto;
  margin-left: -20%;
  z-index: 1000;
}

.message_user_form .alert .close_button{
  width: 3rem;
}


.btn_submit_cancel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  margin: 0 0 3rem 0;
  background-color: #2A5F67;
  color: white;
  border-radius: 6px;
}

.btn_submit_cancel:active{
  background-color: #B42867;
}

/*----Settings----------*/

.footer{
  width: 95%;
  margin: 1rem 2.5%;
}

.e-mail_note_wrapper,
.profile_public_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}

.e-mail_note_wrapper p,
.profile_public_wrapper p{
  margin: 0;
}

.onoffswitch {
  position: relative;
  width: 84px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #2A5F67;
  border-radius: 50px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 28px;
  padding: 0;
  line-height: 28px;
  font-size: 1rem;
  color: white;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-top: 1px;
  padding-left: 10px;
  background-color: #2E7581;
  color: white;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-top: 1px;
  padding-right: 10px;
  background-color: #B42867;
  color: white;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 24px;
  height: 24px;
  margin: 4px;
  background: #C0B76B;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 52px;
  border-radius: 50%;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #C0B76B;
}

#select_timezone{
  width: 100%;
  height: 3rem;
  border: solid 2px #2A5F67;
  border-radius: 6px;
  padding: 0 1rem;
  margin-bottom: 2rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("../icons/arrow_down.svg") no-repeat scroll 98%  transparent;
  background-size: 1.4rem;
  overflow: hidden;
}

#select_label{
  font-weight: bold;
}

.buttons_save_submit{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttons_save_submit .btn_submit_cancel{
  width: 45%;
}

@media (min-width: 550px) {

  .main_traffic_charts{
    max-width: 90%;
  }

  .mobile_users_chart_wrapper{
    max-width: 70%;
  }


}

@media (min-width: 768px) {

header{
  justify-content: space-between;
}

.container{
  justify-content: space-around;
}


/*---- Search ----*/

.Title_and_search {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search{
  width: 75%;
  justify-content: flex-end;
  background: #eee;
  margin-bottom: 1rem;
  border-bottom: solid 1px #2E7581;
  border-left: solid 1px #2E7581;
}

.search fieldset{
  width: auto;
  background-color: white;
  margin-right: 5%;
}

.Title_and_search h2{
  margin-left: 5%;
}

button[name="close_button"] {
    margin: 1rem;
    text-align: left;
  }

  /*-------overall order and wrapping for Charts and Stats------*/

  .traffic_chart_wrapper{
    width: 95%;
    margin: 3rem 0 2rem 0;
  }

  .main_traffic_charts{
    max-width: 80%;
  }

  .daily_chart_wrapper,
  .mobile_users_chart_wrapper,
  .new_members,
  .recent_activity,
  .message_user,
  .footer
  {
    width: 45%;
    margin: 0 0 2rem 0;
  }

  /*-------traffic_chart_wrapper------*/

  .traffic_chart_wrapper h3{
      flex-grow: 1;
      width: 50%;
      margin: auto;
      text-align: left;
    }

  .buttons_traffic{
      flex-grow: 1;
      width: 50%;
      justify-content: flex-end;
    }

    .traffic_chart_wrapper button{
      margin: 2rem 0 2rem 1rem;
    }

  .border_h{
    width: 100%;
    height: 1px;
    background-color: #2E7581;
  }

  .border_v {
    height: auto;
    width: 1px;
    background-color: #2E7581;
  }

  .daily_chart_wrapper h3,
  .mobile_users_chart_wrapper h3{
    text-align: left;
    flex: 2 100%;
  }

.mobile_users_chart_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile_users_chart {
  Width: 60%;
}

.mobile_users_chart_legent {
  width: 34%;
}



  /*-------SoMe Stats------*/

.social_stats{
  width: 95%;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.social_stats h3{
  flex: 3 100%;
  text-align: left;
}

.SoMe_wrapper{
  margin: 0;
  width: 30%;
  justify-content: center;
  padding-bottom: 1rem;
}

.SoMe_Text h3,
.SoMe_Text p{
  text-align: center;
  margin: 0;
}

.SoMe_Icon_wrapper{
  margin: 1rem;
}

/*-------members------*/

.new_members h3,
.recent_activity h3,
.message_user h3,
.footer h3{
  width: 100%;
  text-align: left;
}

.member {
  width: 100%;
  margin: 0 0 2rem 0;
  justify-content: space-between;
  align-items: center;
}

.member img,
.recent_activity img{
  margin: 0 1rem 1rem 0;
}

.recent_activity button img{
  margin: 0 0 1rem 0;
}

.member p{
  text-align: left;
  margin: 0;
}

.activity_member{
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin: 1.5rem;
}

/*-------message user------*/

  .message_user,
  .footer{
    align-items: stretch;
  }

  .message_user{
    border-style: none;
  }

  .message_user form,
  .footer form{
    height: 21rem;
    border-style: none;
    width: 100%;
    margin: 0;
  }

.message_user_form input[name="search_user"]{
  height: 4rem;
}

.message_user_form textarea {
  height: auto;
}

  .footer h3{
    margin-top: 3rem;
  }

  .settings fieldset{
    padding: 0;
    margin: 0;
  }

  #select_timezone{
  height: 4rem;
  margin-bottom: 2.7rem;
  }

}


@media (min-width: 1024px) {

.main_profile{
  margin-right: 2rem;
}

h1{
  margin-left: 2rem;
}

  #main {
    display: flex;
  }

main nav{
  display: flex;
  flex: 1 10%;
}

.container{
  flex: 3 90%;
}

.nav{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 2rem;
}

.nav li{
  display: flex;
  justify-content: center;
  width: 100%;
}

.active_menu{
  border-bottom: 0;
  border-left: solid .3rem #C0B76B;
}

/*-------Title and Search------*/

.alert {
  justify-content: space-between;
}

.alert button p{
  padding-right: 1rem;
}


/*-------traffic_chart_wrapper------*/

.buttons_traffic .active_menu{
    border-left: 0;
  border-bottom: solid .3rem #C0B76B;
  border-radius: 5%;
}



/*------social_stats------*/

.SoMe_wrapper{
  padding: 1rem;
}

.SoMe_Text h3, .SoMe_Text p{
  text-align: left;
}

.member_name_mail{
  flex-grow: 2;
}

.activity_member p{
  flex-grow: 2;
}

}
