

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: white;
  width: 100%;
  max-width: 1200px;
  font-family: $roboto_con;
}


.contact {
  color: white;
  width: 100%;
  font-size: 1.4rem;
  background-color: $sec-blue;

  h3 {
    color: white;
    margin: 3rem 0 2rem 1.5rem;

    @media #{$br-tablet}{
    margin: 3rem 0 2rem 4rem;
    }

  }

  p {
    color: $gray;
    margin: 1.5rem;

    @media #{$br-tablet}{
    margin: 1.5rem 1.5rem 2rem 4rem;
    }
  }

  a {
    color: white;
  }

}

.soMe{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
    margin: 1.5rem 1.5rem 3rem;

    @media #{$br-tablet}{
    margin: 1.5rem 4rem 6rem;
    }

  a {
    width: 33%;
    height: auto;
    @media #{$br-tablet}{
          width: 20%;
        }
  }

  img {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  }

  #behance,
  #instagram {
    margin-right: 2rem;
  }
}
