
.tinted-image {

  width: auto;
  height: 100vh;
  background: linear-gradient(rgba(15, 51, 125, 0.6),rgba(23, 77, 189, 0.13)), url("../img/paul-gilmore-325220_sm.jpg") no-repeat;
  background-position: center;
}
