
.carousel{
  width: 100vw;

}

.logo_4header{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

#my_Logo_Linie {
  width: 100%;
  height: 87vh;
  fill-opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
 animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: draw, FillIn;
  animation-iteration-count: 1;
  animation-duration: 5s, 1s;
  animation-delay: 0s, 4s;

  /*animation-name: FillIn;
  animation-duration: 4s;
  animation-delay: 4s; black_gradient Grupp!ieren */
}


@keyframes FillIn {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes Fillbackground {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.tinted-image {
  width: auto;
  height: 100vh;
  background: linear-gradient(140deg, $graid-sec-blue, $graid-main-blue), url("../img/paul-gilmore-325220_sm.jpg") no-repeat;
  background-position: center;
}

.welcome_hl{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  font-family: $roboto_con;
  padding-top: 5rem;
  .dotted-line{
    width: 4rem;
  }

  h1 {
    width: 100%;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    margin: 0.5rem 0 0 0;
  }

  .arrow-down {
    width: 2rem;
  }


  .bounce {
  	-webkit-animation-name: bounce;
  	-moz-animation-name: bounce;
  	-o-animation-name: bounce;
  	animation-name: bounce;
  }
  .animated{-webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;

              animation-iteration-count: infinite;
         -moz-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;

  animation-fill-mode:both;
  -webkit-animation-duration:3s;
  -moz-animation-duration:3s;
  -ms-animation-duration:3s;
  -o-animation-duration:3s;
  animation-duration:3s;
  }


  @-webkit-keyframes bounce {
  	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
  	60% {-webkit-transform: translateY(-15px);}
  }

  @-moz-keyframes bounce {
  	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  	40% {-moz-transform: translateY(-30px);}
  	60% {-moz-transform: translateY(-15px);}
  }

  @-o-keyframes bounce {
  	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  	40% {-o-transform: translateY(-30px);}
  	60% {-o-transform: translateY(-15px);}
  }
  @keyframes bounce {
  	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  	40% {transform: translateY(-30px);}
  	60% {transform: translateY(-15px);}
  }
}
.main-nav,
.main-content{
    position: relative;
}

.main-nav-scrolled{
  position: fixed;
  top: 0;
  width: 100vw;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: $nav_small;
  margin-bottom: -$nav_small;
  background-color: white;
  font-family: $roboto_con;
  z-index: 150;
  box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.4);

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  li {
    margin: 0 1rem;
  }

  a{
    color: $dark-gray;
    text-decoration: none;
    font-size: 1.5rem;
  }

}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $graid-dark-gray;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.nav_height_top{
  margin-top: $nav_small;
}

.logo{
  height: 100%;
  display: flex;
  align-items: center;
}

.logo_kopf{
  height: 75%;
  width: auto;
  margin-left: 1rem;
  margin-right: .4rem;
}

.logo_text{
  height: 45%;
  width: auto;
  padding-top: .8rem;
}
