
//
// ----------- Colors

$main-blue    : #174DBD;
$sec-blue     : #0F337D;
$dark-blue    : #08193D;
$dark-gray    : #363740;
$gray         : #6A6D70;

$graid-dark-gray : rgba(0, 13, 22, .9);
$graid-main-blue : rgba(23, 77, 189, .4);
$graid-sec-blue  : rgba(15, 51, 125, 1);

$roboto_con : 'Roboto Condensed', sans-serif;

$nav_small : 85px;
$nav_medium : 120px;
$nav_large : 130px;


$br-tablet  : '(min-width: 768px)';
$br-screen  : '(min-width: 1100px)';

//
// -----------

header{
  position: fixed;
  height: 540px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media #{$br-tablet} {
    height: 600px;
  }

  @media (min-width: 2000px) {
    height: 1000px;
  }
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 540px;
  margin: 0;
  width: 100%;

  @media #{$br-tablet} {
    padding-top: 600px;
  }

  @media (min-width: 2000px) {
    padding-top: 1000px;
  }
}

h2 {
  display: flex;
  font-size: 2.3rem;
  margin: 1.5rem;

  @media #{$br-tablet}{
    font-size: 2.2rem;
    margin: 4rem;
  }

  @media #{$br-screen}{
      margin: 6rem;
  }

}

h3 {
    display: flex;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    @media #{$br-tablet}{
    font-size: 2.2rem;
    }
}
