
//
// ----------- Colors

$main-blue    : #174DBD;
$sec-blue     : #0F337D;
$dark-blue    : #08193D;
$dark-gray    : #363740;

$graid-dark-gray : rgba(0, 13, 22, .9);
$graid-main-blue : rgba(23, 77, 189, .4);
$graid-sec-blue  : rgba(15, 51, 125, 1);

$roboto_con : 'Roboto Condensed', sans-serif;

$nav_small : 13vh;

//
// -----------

header{
  position: fixed;
  height: 87vh;
  top: 0;
}

body {
  padding-top: 87vh;
}

h2 {
  display: flex;
  font-size: 2.3rem;
  margin: 1.5rem;
}

h3 {
    display: flex;
    font-weight: 400;
    font-size: 1.8rem;
    margin-top: 1.5rem;
}

.placeholder_size_main{
  height: 40vh;
}

.placeholder_size_sec{
  height: 20vh;
}

// .active_space{
//   height: 40vh;
//   width: 100%;
//   background: darkgray;
//   transition: flex-grow .5s ease-out;
//
//   &:hover,
//   &:focus {
//     flex-grow: 2;
//     }
//   }
