
//
// ----------- Colors

$main-blue    : #174DBD;
$sec-blue     : #0F337D;
$dark-blue    : #08193D;
$dark-gray    : #000D16;

$graid-main-blue : rgba(23, 77, 189, .4);
$graid-sec-blue  : rgba(15, 51, 125, 1);

$roboto_con : 'Roboto Condensed', sans-serif;

//
// -----------

header{
  position: fixed;
  top: 0;
}

.main-nav,
.main-content{
    position: relative;
}

.main-nav {
  display: flex;
  width: 100%;
  height: 4rem;
  background-color: white;
  font-family: $roboto_con;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  li {
    margin: 0 1rem;
  }

  a{
    color: $dark-gray;
    text-decoration: none;
    font-size: 1.5rem;
  }

}
